@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:rgba(210, 233, 225, 0.881);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Add this CSS to your component's stylesheet or a separate CSS file */

/* Add this CSS to your component's stylesheet or a separate CSS file */

.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  width: 300px; 
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center; 
justify-content: space-between;

}

.card img {
  max-width: 100%;
  max-height: 200px; /* Fixed height for each image */
  object-fit: cover; /* Maintain image aspect ratio and cover the container */
}

.card h2 {
  font-size: 1.5rem;
  margin: 8px 0;
}

.card p {
  margin: 8px 0;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  justify-content: space-between;
}

.card button:hover {
  background-color: #0056b3;
}
.card_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

